In [1]:
import osmium as osm
import pandas as pd
import numpy as np

In [2]:
class TimelineHandler(osm.SimpleHandler):
    def __init__(self):
        osm.SimpleHandler.__init__(self)
        self.elements = []

    def add_elements(self, e, elem_type):
        self.elements.append([elem_type,
                              e.id,
                              e.version,
                              e.visible,
                              pd.Timestamp(e.timestamp),
                              e.uid,
                              e.changeset])

    def node(self, n):
        self.add_elements(n, 'node')

    def way(self, w):
        self.add_elements(w, 'way')

    def relation(self, r):
        self.add_elements(r, 'relation')

In [3]:
tlhandler = TimelineHandler()
tlhandler.apply_file("data/ottgat.osh.pbf")
colnames = ['type', 'id', 'version', 'visible', 'ts', 'uid', 'chgset']
elements = pd.DataFrame(tlhandler.elements, columns=colnames)
elements = elements.sort_values(by=['type', 'id', 'ts'])

In [4]:
user_md = (elements.groupby('uid')['ts']
            .agg(["min", "max"])
            .reset_index())
user_md.columns = ['uid', 'first_at', 'last_at']
user_md['lifespan'] = ((user_md.last_at - user_md.first_at)
                        / pd.Timedelta('1d'))
extraction_date = elements.ts.max()
user_md['n_inscription_days'] = ((extraction_date - user_md.first_at)
                                  / pd.Timedelta('1d'))
elements['ts_round'] = elements.ts.apply(lambda x: x.round('d'))
user_md['n_activity_days'] = (elements
                              .groupby('uid')['ts_round']
                              .nunique()
                              .reset_index())['ts_round']
user_md.sort_values(by=['first_at'])

,uid,first_at,last_at,lifespan,n_inscription_days,n_activity_days
15,2490,2006-05-24 03:44:12+00:00,2011-04-19 19:44:48+00:00,1791.667083,4141.838866,2
26,3600,2006-09-21 22:11:45+00:00,2010-07-07 21:18:35+00:00,1384.963079,4021.069734,30
29,4011,2006-10-05 17:45:08+00:00,2006-10-22 02:42:46+00:00,16.373356,4007.254884,2
0,0,2006-10-14 20:54:08+00:00,2008-11-02 19:52:09+00:00,749.956956,3998.123634,9
17,2585,2006-10-21 17:19:39+00:00,2012-07-21 00:43:52+00:00,2099.308484,3991.272581,3
10,1399,2007-03-18 17:09:39+00:00,2007-03-18 17:09:39+00:00,0.000000,3843.279525,1
49,7204,2007-04-24 19:20:13+00:00,2009-06-03 19:58:01+00:00,771.026250,3806.188854,5
12,1679,2007-05-26 04:35:31+00:00,2017-09-10 15:34:28+00:00,3760.457604,3774.803229,642
57,8363,2007-05-28 19:16:01+00:00,2016-11-16 18:04:34+00:00,3459.950382,3772.191771,2
61,9078,2007-06-13 22:58:50+00:00,2007-06-24 20:56:49+00:00,10.915266,3756.037037,6
38,5168,2007-07-01 02:28:40+00:00,2008-12-29 04:21:08+00:00,547.078102,3738.891319,2
63,9642,2007-07-02 00:26:20+00:00,2011-06-04 06:19:58+00:00,1433.245579,3737.976273,126
28,3980,2007-07-18 14:08:35+00:00,2009-05-27 07:39:09+00:00,678.729560,3721.405266,2
69,11198,2007-07-30 02:44:42+00:00,2008-07-14 20:14:30+00:00,350.729028,3709.880185,2
45,6616,2007-08-03 21:27:56+00:00,2007-08-03 21:27:56+00:00,0.000000,3705.100162,1
51,7321,2007-09-13 21:01:36+00:00,2007-09-27 13:17:09+00:00,13.677465,3664.118449,4
81,15002,2007-09-29 20:20:03+00:00,2007-11-11 22:37:32+00:00,43.095475,3648.147303,2
84,15333,2007-10-06 19:34:23+00:00,2007-12-12 03:58:28+00:00,66.350058,3641.179016,2
70,12295,2007-10-08 14:33:51+00:00,2009-05-02 19:37:29+00:00,572.210856,3639.387720,11
33,4499,2007-10-10 10:57:32+00:00,2013-08-23 20:47:31+00:00,2144.409711,3637.537940,2
89,16031,2007-10-11 16:17:04+00:00,2009-06-05 21:21:04+00:00,603.211111,3636.316042,9
72,12426,2007-10-16 23:57:16+00:00,2007-10-16 23:57:16+00:00,0.000000,3630.996458,1
88,15949,2007-10-30 17:00:46+00:00,2008-06-26 23:28:00+00:00,240.268912,3617.285694,3
25,3585,2007-11-01 23:21:13+00:00,2007-11-01 23:21:13+00:00,0.000000,3615.021493,1
99,18159,2007-11-04 22:00:16+00:00,2007-11-04 22:13:04+00:00,0.008889,3612.077708,1
55,8328,2007-11-13 22:06:19+00:00,2007-11-15 20:35:35+00:00,1.936991,3603.073507,2
106,19854,2007-11-21 20:33:26+00:00,2009-09-12 19:25:41+00:00,660.952951,3595.138009,36
101,19080,2007-11-24 21:01:05+00:00,2009-07-03 16:28:25+00:00,586.810648,3592.118808,4
97,17981,2007-11-24 22:01:05+00:00,2008-01-02 04:31:42+00:00,38.271262,3592.077141,2
108,20585,2007-11-30 12:39:08+00:00,2007-11-30 12:43:55+00:00,0.003322,3586.467384,1
...,...,...,...,...,...,...
1879,6527560,2017-08-22 15:34:29+00:00,2017-08-23 23:44:47+00:00,1.340486,33.345613,2
1880,6528157,2017-08-22 17:18:33+00:00,2017-08-22 17:51:53+00:00,0.023148,33.273345,1
1873,6455854,2017-08-23 21:12:47+00:00,2017-08-30 21:13:07+00:00,7.000231,32.110683,2
1881,6544706,2017-08-25 14:59:16+00:00,2017-08-25 14:59:18+00:00,0.000023,30.370069,1
504,238419,2017-08-31 03:10:16+00:00,2017-08-31 03:13:14+00:00,0.002060,24.862431,1
1872,6415317,2017-09-01 16:38:08+00:00,2017-09-01 16:38:08+00:00,0.000000,23.301412,1
1883,6615065,2017-09-07 11:42:52+00:00,2017-09-19 15:07:57+00:00,12.142419,17.506458,4
1882,6562079,2017-09-07 13:46:33+00:00,2017-09-07 13:46:33+00:00,0.000000,17.420567,1
1090,1726148,2017-09-07 19:17:03+00:00,2017-09-07 19:17:03+00:00,0.000000,17.191053,1
1884,6619710,2017-09-08 06:30:46+00:00,2017-09-11 10:19:26+00:00,3.158796,16.723194,2
531,274857,2017-09-08 06:48:31+00:00,2017-09-08 06:48:31+00:00,0.000000,16.710868,1
186,39774,2017-09-08 09:32:29+00:00,2017-09-08 09:32:29+00:00,0.000000,16.597002,1
1885,6621348,2017-09-08 12:37:42+00:00,2017-09-12 01:00:29+00:00,3.515822,16.468380,2
1886,6622630,2017-09-08 16:37:09+00:00,2017-09-08 16:37:10+00:00,0.000012,16.302095,1
1887,6624057,2017-09-08 22:51:47+00:00,2017-09-10 16:21:32+00:00,1.728993,16.041933,2
1888,6632849,2017-09-10 19:26:15+00:00,2017-09-10 19:26:15+00:00,0.000000,14.184664,1
1046,1497225,2017-09-11 14:56:19+00:00,2017-09-11 14:56:20+00:00,0.000012,13.372118,1
383,137772,2017-09-12 14:01:35+00:00,2017-09-12 14:01:36+00:00,0.000012,12.410127,1
825,652301,2017-09-13 01:39:24+00:00,2017-09-15 23:51:38+00:00,2.925162,11.925532,3
14,2376,2017-09-13 06:45:03+00:00,2017-09-13 06:45:03+00:00,0.000000,11.713275,1
3,364,2017-09-13 06:58:39+00:00,2017-09-13 07:00:01+00:00,0.000949,11.703831,1
1363,2866909,2017-09-15 15:39:12+00:00,2017-09-15 15:39:12+00:00,0.000000,9.342338,1
1336,2734838,2017-09-17 20:28:23+00:00,2017-09-17 20:28:25+00:00,0.000023,7.141516,1
652,408282,2017-09-18 17:20:54+00:00,2017-09-18 17:22:10+00:00,0.000880,6.271713,1
1892,6682938,2017-09-20 09:42:08+00:00,2017-09-20 09:42:08+00:00,0.000000,4.590301,1
1891,6680721,2017-09-21 03:59:09+00:00,2017-09-24 14:53:28+00:00,3.454387,3.828484,3
1890,6680504,2017-09-21 19:11:25+00:00,2017-09-21 19:11:25+00:00,0.000000,3.194965,1
1889,6666537,2017-09-21 20:04:10+00:00,2017-09-21 20:04:10+00:00,0.000000,3.158333,1
1893,6685514,2017-09-22 14:04:09+00:00,2017-09-22 15:53:35+00:00,0.075995,2.408345,1
1894,6690608,2017-09-23 19:34:01+00:00,2017-09-24 19:46:34+00:00,1.008715,1.179271,2

In [5]:
newfeature = (elements.groupby(['uid'])['id']
              .count()
              .reset_index()
              .fillna(0))
newfeature.columns = ['uid', "n_total_modif"]

In [6]:
user_md = pd.merge(user_md, newfeature, on='uid', how="outer").fillna(0)

In [7]:
newfeature = (elements.query('type == "node"').groupby(['uid'])['id']
              .count()
              .reset_index()
              .fillna(0))
newfeature.columns = ['uid', "n_total_modif_node"]

In [8]:
user_md = pd.merge(user_md, newfeature, on='uid', how="outer").fillna(0)

In [9]:
newfeature = (elements.query('type == "way"').groupby(['uid'])['id']
              .count()
              .reset_index()
              .fillna(0))
newfeature.columns = ['uid', "n_total_modif_way"]

In [10]:
user_md = pd.merge(user_md, newfeature, on='uid', how="outer").fillna(0)

In [11]:
newfeature = (elements.query('type == "relation"').groupby(['uid'])['id']
              .count()
              .reset_index()
              .fillna(0))
newfeature.columns = ['uid', "n_total_modif_relation"]

In [12]:
user_md = pd.merge(user_md, newfeature, on='uid', how="outer").fillna(0)

In [13]:
osmelem_versioning = (elements.groupby(['type', 'id'])['version']
            .agg(["first", "last"])
            .reset_index())
osmelem_versioning.columns = ['type', 'id', 'vmin', 'vmax']

In [14]:
elements = pd.merge(elements, osmelem_versioning, on=['type', 'id'])
elements['init'] = elements.version == elements.vmin
elements['up_to_date'] = elements.version == elements.vmax
# note that 'elements' is sorted by type, id and ts
elements['willbe_corr'] = np.logical_and(elements.id.diff(-1)==0,
                                          elements.uid.diff(-1)!=0)
elements['willbe_autocorr'] = np.logical_and(elements.id.diff(-1)==0,
                                                 elements.uid
                                                 .diff(-1)==0)

In [15]:
def create_count_features(metadata, element_type, data, grp_feat, res_feat, feature_suffix):
    feature_name = 'n_'+ element_type + '_modif' + feature_suffix
    newfeature = (data.groupby([grp_feat])[res_feat]
                  .count()
                  .reset_index()
                  .fillna(0))
    newfeature.columns = [grp_feat, feature_name]
    metadata = pd.merge(metadata, newfeature, on=grp_feat, how="outer").fillna(0)
    return metadata

def extract_modif_features(metadata, data, element_type):
    typed_data = data.query('type==@element_type')
    metadata = create_count_features(metadata, element_type, typed_data,
                               'uid', 'id', '')
    metadata = create_count_features(metadata, element_type,
                               typed_data.query("init"),
                               'uid', 'id', "_cr")
    metadata = create_count_features(metadata, element_type,
                               typed_data.query("not init and visible"),
                               'uid', 'id', "_imp")
    metadata = create_count_features(metadata, element_type,
                               typed_data.query("not init and not visible"),
                               'uid', 'id', "_del")
    metadata = create_count_features(metadata, element_type,
                               typed_data.query("up_to_date"),
                               'uid', 'id', "_utd")
    metadata = create_count_features(metadata, element_type,
                               typed_data.query("willbe_corr"),
                               'uid', 'id', "_cor")
    metadata = create_count_features(metadata, element_type,
                               typed_data.query("willbe_autocorr"),
                               'uid', 'id', "_autocor")
    return metadata

In [16]:
user_md = extract_modif_features(user_md, elements, 'node')
user_md = extract_modif_features(user_md, elements, 'way')
user_md = extract_modif_features(user_md, elements, 'relation')
user_md = user_md.set_index('uid')
user_md.to_csv("usermd.csv")